<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Currency Converter</title>
	</head>
	<body>
		
		<form method="POST" action = "http://localhost:5000/">
				Amount: <input type ="text" name ="Amount" value={{amount}}>
				<select name = "From">
					<option selected="selected" value={{from_select}}>{{from_select}}</option>
					{% for key in from_form %} 
					<option value="{{key[0:3]}}">{{key}}</option>
					
					{% endfor %}
				</select>
				->
				<select name = "To">
						<option selected="selected" value={{to_select}}>{{to_select}}</option>
						{% for key in to_form %}
						<option value="{{key[0:3]}}">{{key}}</option>
						{% endfor %}
				</select>
				<input type="submit" name="submit" value="submit">
			</form>

			Answer:<input type ="text" name ="result" value={{answer}}>
		
	</body>


</html>


